body{
  background: url("../img/tabletop.jpg");
  background-size: size;
  height: 100%;
  width: 100%;
  position: fixed;
}

.removable{
  flex-direction: column;
  justify-content: center;
  align-content: center;
  height: 85%;
}

/*.btn-large{
  background-color: : #601407;
}*/

.total{
  color: rgba (144, 178, 71, .1);
  /*deal with this later*/
}

img{
  height: 220px;
  width: 158px;
}

#row-1, #row-2, #row-3{
  width: 100%;
}

#row-1, #row-3{
  height: 40%;
  position: absolute;
  flex-direction: row;
}

#modal1 p{
  text-align: left;
}

#row-1{
  margin-top: 25px;
}

#row-3{
  bottom: 0px;
}

#row-2{
  top: 40%;
  height: 20%;
  position: absolute;
}

.btn-large{
  text-transform: capitalize;
  font-size: x-large;
}

.row{
  display: flex;
}

#playerHand, #dealerHand{
  flex-wrap: nowrap;
  flex-direction: row;
  align-items: : center;
  align-content: space-around;
  justify-content: center;
}

#blackjack-buttons, #state-buttons, .total{
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: center;
  align-content: space-between;
}
